{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
</head>
<body>
    <aside>
        <img src="{% static 'blog/img/icon.png' %}" alt="Logo">
        <span class="logo">blog</span>
        <ul><h3>Navigation:</h3>
            <a href="{% url 'blog_index' %}"><li><i class="fas fa-home"></i> Main</li></a>
            <a href="{% url 'rating_user' %}"><li><i class="fas fa-home"></i> User rating</li></a>
            <a href="{% url 'blog_add' %}"><li><button class="btn btn-info"><i class="fas fa-plus-circle"></i> Add </li>
            </a>
           {% if user.is_authenticated %}
                <br><p>Hello, <a href="{% url 'profile' %}">{{ user }}</a>!
                <img src="{{request.user.userprofile.avatar.url}}" ></p>

                <a href="{% url 'account_logout' %}"><li><i class="fas fa-home"></i> Logout</li></a>
            {% elif not user.is_authenticated %}
                <a href="{% url 'account_login' %}"><li><i class="fas fa-home"></i> Login</li></a>
                <a href="{% url 'account_signup' %}"><li><i class="fas fa-home"></i> Registration</li></a>
            {% endif %}
        </ul>
    </aside>
    <main>
    {% block content %}
    {% endblock %}
    </main>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{141444984573707}',
      cookie     : true,
      xfbml      : true,
      version    : '{v10.0}'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>