{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}Articles{% endblock %}

{% block page_heading %}Articles{% endblock %}

{% block page_breadcrumbs %}
Articles
{% endblock %}

{% block content %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Category</th>
          <th>Author</th>
          <th>Date of publication</th>
          <th>Total rating</th>
          <th><button type="button" class="btn btn-block btn-outline-primary btn-flat">Add article</button></th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
        <tr>
          <td>{{ article.title }}</td>
          <td>{{ article.description }}</td>
          <td>{{ article.category }}</td>
          <td>{{ article.author }}</td>
          <td>{{ article.date }}</td>
          <td>{{ article.total_rating }}</td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-block btn-warning btn-flat">Edit</button><br>
              <button type="button" class="btn btn-block btn-danger btn-flat">Delete</button>
            </div>
          </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Category</th>
          <th>Author</th>
          <th>Date of publication</th>
          <th>Total rating</th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>


{% endblock %}
