{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}UserInfo{% endblock %}

{% block page_heading %}UserInfo{% endblock %}

{% block page_breadcrumbs %}
UserInfo
{% endblock %}

{% block content %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <form>
      <div class="card-body">
          <div class="form-group">
          <label for="name">Name</label>
          <input type="name" class="form-control" id="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email">
        </div>
        <div class="form-group">
          <label for="exampleInputFile">Avatar</label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="exampleInputFile">
              <label class="custom-file-label" for="exampleInputFile">Choose file</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text">Upload</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

    <p>Username: {{ request.user.username }} <br>
    Name: {{ user_profile.name }} <br>
    Email-profile: {{ user_profile.email }} <br>
    Avatar path: {{ user_profile.avatar }} <br>
    Date of registration: {{ user_profile.date_created }} <br>
    </p>
  </div>
</div>
{% endblock %}