{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}UserInfo{% endblock %}

{% block page_heading %}UserInfo{% endblock %}

{% block page_breadcrumbs %}
UserInfo
{% endblock %}

{% block content %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <form method="post" action="{% url 'user_info' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input name="name" type="text" class="form-control" id="name" placeholder="Enter your name" value="{{ user_profile.name }}">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email" value="{{ user_profile.email }}">
        </div>
        <div class="form-group">
          <label for="avatar">Avatar</label>
          <div class="input-group">
            <div class="custom-file">
              <input name="avatar" type="file" class="custom-file-input" id="avatar">
              <label class="custom-file-label" for="avatar">Choose file</label>
            </div>
            <div class="input-group-append">
               <span class="input-group-text">Upload</span>
            </div>
          </div>
        </div>
      </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

    <p>Username: {{ request.user.username }} <br>
    Name: {{ user_profile.name }} <br>
    Email-profile: {{ user_profile.email }} <br>
    Avatar path: {{ user_profile.avatar }} <br>
    Date of registration: {{ user_profile.date_created }} <br>
    </p>
  </div>
</div>
{% endblock %}
