{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}UserInfo{% endblock %}

{% block page_heading %}UserInfo{% endblock %}

{% block page_breadcrumbs %}
UserInfo
{% endblock %}

{% block content %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <p>Username: {{ request.user.username }} <br>
    Name: {{ user_profile.name }} <br>
    Email-profile: {{ user_profile.email }} <br>
    Avatar path: {{ user_profile.avatar }} <br>
    Date of registration: {{ user_profile.date_created }} <br>
    </p>
  </div>
</div>
{% endblock %}