{% extends "base.html" %}
{% block title %} Add comment {% endblock %}
{% block content %}
    <div class="features">
        <h1>Write comment</h1>
        <form method="post">
            {% csrf_token %}
                {% for error in form.errors %}
                    <span>{{ error }}</span><br>
                {% endfor %}
            {{ form.article }}<br>
            {{ form.body }}<br>
            {{ form.author }}<br>
            <button class="btn btn-success" type="submit">Add comment</button>
          </form>
    </div>
{% endblock %}
