{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}Articles{% endblock %}

{% block page_heading %}Articles{% endblock %}

{% block page_breadcrumbs %}
Articles
{% endblock %}

{% block content %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Category</th>
          <th>Author</th>
          <th>Date of publication</th>
          <th>Total rating</th>
          <th>
            <a href="{% url 'article_add' %}" type="button" class="btn btn-block btn-outline-primary btn-flat">Add article</a>
          </th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
        <tr>
          <td>{{ article.title }}</td>
          <td>{{ article.description }}</td>
          <td>{{ article.category }}</td>
          <td>{{ article.author }}</td>
          <td>{{ article.date }}</td>
          <td>{{ article.total_rating }}</td>
          <td>
            <div style="float: left;">
              <a href="{% url 'article_details' article.id %}" type="button" class="btn btn-block btn-info btn-sm">Details</a>
            </div>
            <div style="float: left;">
              <a href="{% url 'article_edit' article.id %}" type="button" class="btn btn-block btn-warning btn-sm">Edit</a>
            </div>
              <div style="float: left;">
                <button class="first btn btn-block btn-danger btn-sm" id="{{ article.id }}" onclick="deleteArticle(this.id)"
                        type="button">Delete</button>
              </div>
          </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Category</th>
          <th>Author</th>
          <th>Date of publication</th>
          <th>Total rating</th>
          <th></th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>


{% endblock %}

{% block extra_scripts %}
<script>
function deleteArticle(id_button){
  Swal.fire({
    title: 'Are you sure?',
    text: "You won't be able to revert this!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, delete it!'
  }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire(
        'Deleted!',
        'Your file has been deleted.',
        'success'
      )
      $.ajax({
        url: 'delete/'+id_button+'/',
        type: 'post',
        data: {'pk': id_button, 'csrfmiddlewaretoken': getCookie('csrftoken')},
        success: function(data) {
            setTimeout(function() {
            location.reload(true);
            }, 1000);
        },
        failure: function(data) {
            alert('Got an error');
        }
        });

      }
    })
};
</script>
<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
</script>
{% endblock %}
