body {
    background: #367649;
}

p img {
    width: 30px;
    float: left;
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto;}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

form.empty {
    margin-left: 0;
    width: 200px;
    margin-top: 0px;
}

.social-form .bg-facebook {
  background-color: #2f5b9d;
  color: #FFF;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 10px;
}

.social-form .bg-google {
  background-color: #EA3C16;
  color: #FFF;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 10px;
}
