{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}Delete comment{% endblock %}

{% block page_heading %}Delete comment{% endblock %}

{% block page_breadcrumbs %}
<a href="{% url 'articles' %}">Comments</a> / Delete comment
{% endblock %}

{% block content %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="features">
        <h1>Delete post</h1>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">Delete comment</button>
          </form>
    </div>
  </div>
</div>
{% endblock %}