{% extends 'base.html' %}

{% load static %}

{% block title %}Payment{% endblock %}

{% block content %}
<div class="container">
  {% if subscription.status == "active" %}
    <h4>Your subscription:</h4>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">
          {{ product.description }}
        </p>
        <p>Subscription ends: {{sub_end}}</p>
      </div>
    </div>
  {% else %}
    <h3>Premium account will give you more opportunities</h3>
    <h3>It's cost 20$ per month</h3>
    <button class="btn btn-warning" id="submitBtn">Buy premium!</button>
  {% endif %}
</div>

{% endblock %}

{% block extra_scripts %}
<script src="https://js.stripe.com/v3/"></script>
<script>
  console.log("Sanity check!");

// Get Stripe publishable key
fetch("/payments/config/")
.then((result) => { return result.json(); })
.then((data) => {
  // Initialize Stripe.js
  const stripe = Stripe(data.publicKey);

  // Event handler
  document.querySelector("#submitBtn").addEventListener("click", () => {
    // Get Checkout Session ID
    fetch("/payments/create-checkout-session/")
    .then((result) => { return result.json(); })
    .then((data) => {
      console.log(data);
      // Redirect to Stripe Checkout
      return stripe.redirectToCheckout({sessionId: data.sessionId})
    })
    .then((res) => {
      console.log(res);
    });
  });
});

</script>
{% endblock %}
