{% extends 'base.html' %}

{% load static %}

{% block title %}Payment{% endblock %}

{% block content %}
<div class="container">
  {% if stripe_customer.active_subscription == True %}
    <h4>Your subscription:</h4>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ stripe_customer.account_type }}</h5>
        <p class="card-text">
          {{ stripe_customer.subscription_end_date }}
        </p>
      </div>
    </div>
  {% else %}
    <h3>Premium account will give you more opportunities</h3>
    <h3>It's cost 20$ per month</h3>
    <button class="btn btn-warning" id="submitBtn">Buy premium!</button>
  {% endif %}
</div>

{% endblock %}

{% block extra_scripts %}
<script src="https://js.stripe.com/v3/"></script>
<script>
  console.log("Sanity check!");

    const stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    // Event handler
    document.querySelector("#submitBtn").addEventListener("click", () => {
      // Get Checkout Session ID
      fetch("{% url 'create_session' %}")
      .then((result) => { return result.json(); })
      .then((data) => {
        console.log(data.session_id);
        // Redirect to Stripe Checkout
        return stripe.redirectToCheckout({sessionId: data.session_id})
      })
      .then((res) => {
        console.log(res);
      });
    });

</script>
{% endblock %}
