{% extends "base.html" %}
{% block title %} Add article {% endblock %}
{% block page_breadcrumbs %}Add article{% endblock %}
{% block content %}
	<div class="container">
				<form id="article" method="post">
					{% csrf_token %}
		<div class="margin-tb-45px full-width">
			<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i class="far fa-list-alt margin-right-10px text-main-color"></i>Basic Informations</h4>
			<div class="padding-30px padding-bottom-30px background-white border-radius-10">
            		<span>{{ form.errors }}</span><br>
					<div class="form-group margin-bottom-20px">
						<label><i class="far fa-list-alt margin-right-10px"></i> Title</label>
						<input type="text" class="form-control form-control-sm" id="title" name="title" form="article" placeholder="Article Title">
					</div>
					<div class="form-group margin-bottom-20px">
						<div class="row">
							<div class="col-md-6">
								<label><i class="far fa-folder-open margin-right-10px"></i> Category</label>
								<select form="article" name="category" id="category" class="form-control form-control-sm">
									{% for category in categories %}
                                    	<option>{{category}}</option>
									{% endfor %}
                                </select>
							</div>
						</div>
					</div>

			</div>
		</div>

		<div class="margin-bottom-45px full-width">
			<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i class="far fa-list-alt margin-right-10px text-main-color"></i>Description</h4>
			<div class="padding-30px padding-bottom-30px background-white border-radius-10">
				<div class="margin-bottom-20px">
					<textarea class="form-control" placeholder="Write article description" id="description" name="description" form="article" rows="2"></textarea>
				</div>
			</div>
			<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i class="far fa-list-alt margin-right-10px text-main-color"></i>Body</h4>
			<div class="padding-30px padding-bottom-30px background-white border-radius-10">
				<div class="margin-bottom-20px">
					<textarea class="form-control" placeholder="Write article text" id="body" name="body" form="article" rows="8"></textarea>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-lg border-2  ba-1 text-white margin-bottom-80px btn-block border-radius-15 padding-15px box-shadow">Add Article</button>
				</form>

	</div>
{% endblock %}
