{% extends "base.html" %}
{% block title %} {{ article.title }} {% endblock %}
{% block content %}
{% block page_breadcrumbs %}Article {{ article.title }}{% endblock %}

	<div class="margin-tb-30px">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i class="fas fa-file-alt margin-right-10px text-main-color"></i> {{ article.title }}</h4>
					<div class="padding-30px padding-bottom-30px background-white border-radius-10">

						<div class="meta">
							<span class="margin-right-20px text-extra-small">By :  <a href="#">{{ article.author }}</a></span>
							<span class="margin-right-20px text-extra-small">Date :  <a href="#">{{ article.date }}</a></span>
						</div>
						<hr>

						<div class="entry-content">
							{{ article.body }}
						</div>
						<!-- .entry-content -->

						<!-- Post tags -->
						<hr>
					</div>

					<div class="margin-bottom-30px">
						<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i class="fas fa-comment-alt margin-right-10px text-main-color"></i> Comments {{ comments.count }}</h4>
						<div class="padding-30px padding-bottom-30px background-white border-radius-10">
							<ul class="commentlist padding-0px margin-0px list-unstyled text-grey-3">
								{% for comment in comments %}
									{% ifequal article.id comment.article.id %}
										<li class="border-bottom-1 border-grey-1 margin-bottom-20px">
											<img src="{{ comment.author.userprofile.avatar.url }}" class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">
											<div class="margin-left-85px">
												<a class="d-inline-block text-dark text-medium margin-right-20px" href="#">{{ comment.author }} </a>
												<span class="text-extra-small">Date :  <a href="#" class="text-main-color">{{ comment.date_created }}</a></span>
												<p class="margin-top-15px text-grey-2">{{ comment.body }}</p>
											</div>
										</li>
									{% endifequal %}
								{% endfor %}
							</ul>
						</div>
					</div>

					<div class="margin-bottom-30px">
						<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i class="fas fa-comment-alt margin-right-10px text-main-color"></i> Add Comment</h4>
						<div class="padding-30px padding-bottom-30px background-white border-radius-10">
<!--							TODO: style to css-->
							<form method="post" id="add_comment" action="{% url 'comment_add' article.id %}" style="margin-left: 100px; margin-top: 0px;">
								{% csrf_token %}
								<div class="form-row">
									{% for error in form.errors %}
                    					<span>{{ error }}</span><br>
                					{% endfor %}
								</div>
								<div class="form-group">
									<label>Comment :</label>
									<textarea class="form-control" name="body" id="body" form="add_comment" rows="3" placeholder="Comment"></textarea>
								</div>
								<button form="add_comment" type="submit" class="btn-sm btn-lg btn-block background-main-color text-white text-center font-weight-bold text-uppercase border-radius-10 padding-10px">Add Now !</button>
							</form>
						</div>
					</div>

				</div>


				<div class="col-lg-4">
					<div class="widget widget_categories">
					<div class="margin-bottom-30px">
						<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i class="far fa-folder-open margin-right-10px text-main-color"></i> Articles </h4>
						<ul>
							{% for article in articles %}
								{% csrf_token %}
							<li><a href="{% url 'blog_view' article.id %}">{{ article }}</a>></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
