{% extends "base.html" %}
{% block title %} {{ article.title }} {% endblock %}
{% block content %}
    <div class="features">
        <h1>{{ article.title }}</h1>
        <form action="{% url 'add_rating' %}" method="post" name="rating">
            <b>Rating:</b>
            {% csrf_token %}
            <input type="hidden" value="{{ article.id }}" name="article">
            <span class="rating">
                {% for k, v in star_form.fields.star.choices %}
                    <input id="rating{{ v }}" type="radio" name="star"
                           value="{{ k }}">
                    <label for="rating{{ v }}">{{ k }}</label>
                {% endfor %}
            </span>
                <span class="editContent">Average Mark: {{ article.middle_star }}</span>
            {% if mark.star %}
                <br><span class="editContent">Your mark: {{ mark.star }}</span>
            {% endif %}
        </form>
        <p>{{ article.author }}</p>
        <p>{{ article.body }}</p>
        <a href="{% url 'blog_delete' article.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'blog_edit' article.id %}" class="btn btn-info">Update</a>
    </div>
    <div class="features">
        <h4>Comments:</h4>
        {% if user.is_authenticated %}
            {% for comment in comments %}
                {% ifequal article.id comment.article.id %}
                    <p>{{ comment.author }}:
                    {{ comment.body }}
                        {% if user.id == comment.author.id %}
                            <a href="{% url 'comment_edit' comment.id %}" class="btn btn-info">Edit</a>
                            <a href="{% url 'comment_delete' comment.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                {% endifequal %}
            {% endfor %}
                    <br><br><a href="{% url 'comment_add' article.id %}" class="btn btn-info">Write comment</a>
        {% else %}
            <p>To read comments please log in</p>
        {% endif %}
    </div>
{% endblock %}
