{% extends "base.html" %}
{% block title %} Articles {% endblock %}
{% block page_breadcrumbs %}Articles{% endblock %}
{% block content %}

<div class="margin-tb-30px">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				{% if articles %}
					{% for article in articles %}
						{% if request.POST.category_select == 'without' %}
							{% if article.category is None %}
								{% include 'include/show_articles.html' %}
							{% endif %}
						{% elif request.POST.category_select == article.category.name and not request.POST.category_select is None %}
							{% if request.POST.category_select == article.category.name %}
								{% include 'include/show_articles.html' %}
							{% endif %}
						{% elif request.POST.category_select == 'All categories' or request.POST.category_select is None %}
							{% include 'include/show_articles.html' %}
						{% endif %}
					{% endfor %}
				{% else %}
					<p>You have not posts</p>
				{% endif %}
			</div>

			<div class="col-lg-4">
				<div class="widget widget_categories">
					<div class="margin-bottom-30px">
						<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i class="far fa-folder-open margin-right-10px text-main-color"></i> Categories</h4>
						<ul>
							<form action="" method="post" class="empty">
								<li><input name="category_select" type="submit" value="All categories"></li>
								{% for category in categories %}
									{% csrf_token %}
									<li><input name="category_select" type="submit" value="{{ category }}"></li>
								{% endfor %}
							</form>
						</ul>
					</div>
				</div>
			</div>
		</div>
<!--		Pagination-->
		{% if is_paginated %}
		<ul class="pagination">
		{% if page_obj.has_previous %}
			<li>
				<span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
			</li>
		{% endif %}
			<li class="">
				<span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
			</li>
		{% if page_obj.has_next %}
			<li>
				<span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
			</li>
		{% endif %}
		</ul>
		{% else %}
			<h3>Your File Exam</h3>
			<p>File not yet available</p>
		{% endif %}
	</div>
</div>
{% endblock %}
