{% extends "blog/wrapper.html" %}
{% block title %} {{ article.title }} {% endblock %}
{% block content %}
    <div class="features">
        <h1>{{ article.title }}</h1>
        <p>{{ article.author }}</p>
        <p>{{ article.body }}</p>
        <a href="{% url 'blog_delete' article.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'blog_edit' article.id %}" class="btn btn-info">Update</a>
    </div>
    <div class="features">
        <h4>Comments:</h4>
        {% for comment in comments %}
            {% ifequal article.id comment.article.id %}
                <p>{{ comment.author }}:
                {{ comment.body }}
                    <a href="{% url 'comment_edit' comment.id %}" class="btn btn-info">Edit</a>
                    <a href="{% url 'comment_delete' comment.id %}" class="btn btn-danger">Delete</a>
            {% endifequal %}
        {% endfor %}
                    <br><br><a href="{% url 'comment_add' %}" class="btn btn-info">Write comment</a>
<!--        <br><br><a href="{% url 'comments_view' article=article.id %}" class="btn btn-info">Read comments</a>-->
    </div>
{% endblock %}
