{% extends "base.html" %}
{% load static %}
{% block title %} {{ article.title }} {% endblock %}
{% block content %}
{% block page_breadcrumbs %}Article {{ article.title }}{% endblock %}
  <style>
   .leftstr, .rightstr {
    float: left; /* Обтекание справа */
    width: 50%; /* Ширина текстового блока */
   }
   .rightstr {
    text-align: right; /* Выравнивание по правому краю */
   }
  </style>
<div class="margin-tb-30px">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10">
					<h4 class="leftstr"> <i class="fas fa-file-alt margin-right-10px text-main-color"></i> {{ article.title }}</h4>
					{% if user.id == article.author.id %}
						<p class="rightstr">
							<a href="{% url 'blog_edit' article.id %}" class="btn"><img src="{% static 'images/edit.png' %}" width="20px" height="20px"></a>
							<button class="btn" id="{{ article.id }}" onclick="deleteArticle(this.id)" type="button"><img src="{% static 'images/delete.png' %}" width="20px" height="20px"></button>
						</p>
					{% endif %}
					<br>
				</div><br>
				<div class="padding-30px padding-bottom-30px background-white border-radius-10">
					<div class="meta">
						<span class="margin-right-20px text-extra-small">By :  {{ article.author }}</span>
						<span class="margin-right-20px text-extra-small">Date :  {{ article.date }}</span>
					</div>
					<hr>
					<form action="{% url 'add_rating' %}" method="post" name="rating">
						<b>Rating:</b>
						{% csrf_token %}
						<input type="hidden" value="{{ article.id }}" name="article">
						{% if user.is_authenticated %}
						<span class="rating">
							{% for i in rating_stars %}
								<input id="rating{{ i }}" type="radio" name="star"
									   value="{{ i }}">
								<label for="rating{{ i }}">{{ i }}</label>
							{% endfor %}
						</span>
						{% else %}
						<p>Sign in to rate articles</p>
						{% endif %}
							<span class="editContent">Average Mark: {{ article.total_rating }}</span>
						{% if mark.star %}
							<br><span class="editContent">Your mark: {{ mark.star }}</span>
						{% endif %}
					</form>
					<br><hr>
					<div class="entry-content">
						{{ article.body }}
					</div>
					<!-- .entry-content -->
					<hr>
				</div>

				<div class="margin-bottom-30px">
					<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i class="fas fa-comment-alt margin-right-10px text-main-color"></i> Comments {{ comments.count }}</h4>
					<div class="padding-30px padding-bottom-30px background-white border-radius-10">
						<ul class="commentlist padding-0px margin-0px list-unstyled text-grey-3">
							{% for comment in comments %}
								{% ifequal article.id comment.article.id %}
									<li class="border-bottom-1 border-grey-1 margin-bottom-20px">
										<img src="{% if comment.author.userprofile.avatar %} {{ comment.author.userprofile.avatar.url }} {% else %} {% static 'images/avatar.png' %} {% endif %}" class="profile-pic-comments float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">
										<div class="margin-left-85px">
											<p class="d-inline-block text-dark text-medium margin-right-20px">{{ comment.author }} </p>
											<span class="text-extra-small">Date :  <p class="d-inline-block">{{ comment.date_created }}</p></span>



											{% if user.id == comment.author.id %}
												<div id="comment_div_edit{{ comment.id }}">
													<div id="{{ comment.id }}">{{ comment.body }}</div>
												</div>
													<button class="btn btn-info btn-sm" id="{{ comment.id }}" onclick="editComment(this.id)" type="button">Edit</button>

												<button class="btn btn-danger btn-sm" id="{{ comment.id }}" onclick="deleteComment(this.id, {{ article.id }})" type="button">Delete</button>
	{% else %}
	<div id="{{ comment.id }}">{{ comment.body }}</div>
	{% endif %}
										</div>
									</li>
								{% endifequal %}
							{% endfor %}
						</ul>
					</div>
				</div>

				<div class="margin-bottom-30px">
					<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i class="fas fa-comment-alt margin-right-10px text-main-color"></i> Add Comment</h4>
					<div class="padding-30px padding-bottom-30px background-white border-radius-10">
						{% if user.is_authenticated %}
						<form method="post" id="add_comment" action="{% url 'comment_add' article.id %}" class="comment-form">
							{% csrf_token %}
							<div class="form-row">
								{% for error in form.errors %}
									<span>{{ error }}</span><br>
								{% endfor %}
							</div>
							<div class="form-group">
								<label>Comment :</label>
								<textarea class="form-control" name="body" id="body" form="add_comment" rows="3" placeholder="Comment"></textarea>
							</div>
							<button form="add_comment" type="submit" class="btn-sm btn-lg btn-block background-main-color text-white text-center font-weight-bold text-uppercase border-radius-10 padding-10px">Add Now !</button>
						</form>
						{% else %}
						<h4>Sign in to leave a comment</h4>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="widget widget_categories">
				<div class="margin-bottom-30px">
					<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i class="far fa-folder-open margin-right-10px text-main-color"></i> Recent Articles </h4>
					<ul>
						{% for article in articles|slice:10 %}
							{% csrf_token %}
							<li><a href="{% url 'blog_view' article.id %}">{{ article }}</a>></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block extra_scripts %}

<script>
function deleteArticle(id_button){
  Swal.fire({
    title: 'Are you sure?',
    text: "You won't be able to revert this!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, delete it!'
  }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire(
        'Deleted!',
        'Your article has been deleted.',
        'success'
      )
      $.ajax({
        url: 'delete/',
        type: 'post',
        data: {'pk': id_button, 'csrfmiddlewaretoken': getCookie('csrftoken')},
        success: function(data) {
            setTimeout(function() {
            window.location.replace('/blog/');
            }, 1000);
        },
        failure: function(data) {
            alert('Got an error');
        }
        });

      }
    })
};
</script>
<script>
function deleteComment(id_button, id_article){
  Swal.fire({
    title: 'Are you sure?',
    text: "You won't be able to revert this!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, delete it!'
  }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire(
        'Deleted!',
        'Your comment has been deleted.',
        'success'
      )
      $.ajax({
        url: '/comments/' + id_button + '/delete/',
        type: 'post',
        data: {'pk': id_button, 'csrfmiddlewaretoken': getCookie('csrftoken')},
        success: function(data) {
            setTimeout(function() {
            window.location.replace('/' + id_article + '/');
            }, 1000);
        },
        failure: function(data) {
            alert('Got an error');
        }
        });

      }
    })
};
</script>
<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
</script>
<!--<script>-->
<!--$(function () {-->
<!--	$('.edit').click(function () {-->
<!--		var wrap = $(this).parent().next().children('.comment_edit');-->
<!--		var comment = $(this).parent().next().children('.comment_edit').text();-->
<!--		$(wrap).append('<input class="edit_field" type="text" name="comment_edit" value="'+comment+'">');-->
<!--		console.log(comment);-->
<!--	});-->

<!--	$('.reviews-meta').on('change','.edit_field',function(){-->
<!--		var n = $(this).attr('name');-->
<!--		var v = $('input[name='+n+']').val();-->
<!--		var p = $(this).parent();-->
<!--		$(p).text(v);-->
<!--	});-->
<!--});-->
<!--</script>-->

<!--<script>-->
<!--var contentold={};   //объявляем переменную для хранения неизменного текста-->

<!--function savedata(elementidsave,contentsave) {-->
<!--              //функция для сохранения отредактированного текста с помощью ajax-->
<!--  $.ajax({-->
<!--          url: '/comments/' + elementidsave + '/edit/',    //url который обрабатывает и сохраняет наш текст-->
<!--          type: 'POST',-->
<!--          data: {-->
<!--                     content: contentsave,     //наш пост запрос-->
<!--                      'csrfmiddlewaretoken': getCookie('csrftoken'),-->
<!--                      'pk': elementidsave-->
<!--                 },-->
<!--          success:function (data) { //получили ответ от сервера - обрабатываем-->
<!--          if (data == contentsave)-->
<!--        //сервер прислал нам отредактированный текст, значит всё ok-->
<!--            {-->
<!--               $('#'+elementidsave).html(data);-->
<!--//записываем присланные данные от сервера в элемент, который редактировался-->
<!--               $('<div id="status">Данные успешно сохранены:'+data+'</div>')-->
<!--                       //выводим      сообщение об успешном ответе сервера-->
<!--                        .insertAfter('#'+elementidsave)-->
<!--                        .addClass("success")-->
<!--                        .fadeIn('fast')-->
<!--                        .delay(1000)-->
<!--                        .fadeOut('slow', function() {this.remove();});-->
<!--                            //уничтожаем элемент-->
<!--                }-->
<!--                  else-->
<!--                 {-->
<!--                   $('<div id="status">Запрос завершился ошибкой:'+data+'</div>')-->
<!--                                                // выводим данные про ошибку-->
<!--                       .insertAfter('#'+elementidsave)-->
<!--                       .addClass("error")-->
<!--                       .fadeIn('fast')-->
<!--                       .delay(3000)-->
<!--                       .fadeOut('slow', function() {this.remove();});-->
<!--                             //уничтожаем элемент-->
<!--                        }-->
<!--                    }-->
<!--               });-->
<!--       }-->
<!--    $(document).ready(function() {-->
<!--       	$('[contenteditable="true"]')     //редактируемый элемент-->
<!--            .mousedown(function (e)    //обрабатываем событие нажатие мышки-->
<!--                  {-->
<!--                    e.stopPropagation();-->
<!--                    elementid=this.id;-->
<!--                    contentold[elementid]=$(this).html();  //текст до редактирования-->
<!--                    $(this).bind('keydown', function(e) {    //обработчик нажатия Escape-->
<!--                        if(e.keyCode==27){-->
<!--                             e.preventDefault();-->
<!--                             $(this).html(contentold[elementid]);-->
<!--                                       	//возвращаем текст до редактирования-->
<!--                             }-->
<!--                           });-->
<!--                           $(".save").show();//показываем кнопку "сохранить"-->
<!--                              })-->
<!--              .blur(function (event)      //обрабатываем событие потери фокуса-->
<!--                  {-->
<!--                      var elementidsave=this.id;             //id элемента потерявшего фокус-->
<!--                      var  contentsave = $(this).html();           //текст для сохранения-->
<!--                      event.stopImmediatePropagation();-->
<!--                      if (elementid===elementidsave)-->
<!--                                    // если id не совпадает с id элемента, потерявшего фокус,-->
<!--                      {$(".save").hide(); }-->
<!--                           // значит фокус  в редактируемом элементе, кнопку не прячем-->
<!--                      if (contentsave!=contentold[elementidsave])  //если текст изменился-->
<!--                            {-->
<!--                                savedata(elementidsave,contentsave);   //отправляем на сервер-->
<!--                                console.log(elementidsave);-->
<!--                            }-->
<!--                    });-->
<!--	});-->
<!--</script>-->
<!--<script>-->
<!--$(function() {-->
<!--    $('#reviews-meta a').click(function()-->
<!--    {-->
<!--        $('#reviews-meta').html('<form action="{% url 'comment_edit' 1 %}" method="post">{% csrf_token %}<textarea name="com_edit">' +-->
<!--          $('#com_edit').text() +-->
<!--          '</textarea><input type="submit" value="Edit"></form>');-->
<!--    })-->
<!--})-->
<!--</script>-->
<!--<script>-->
<!--function editComment(comment_id) {-->
<!--		console.log(comment_id);-->
<!--		$('#comment_div_edit').html('<form action="{% url 'comment_edit' 1 %}" method="post">{% csrf_token %}<textarea name="com_edit">' +-->
<!--		  $('#'+comment_id).text() +-->
<!--		  '</textarea><input type="submit" value="Edit"></form>');-->
<!--	};-->
<!--</script>-->

<script>
function editComment(comment_id) {
		console.log(comment_id);
		$('#comment_div_edit'+comment_id).html('<form class="comment-form" action="/comments/'+comment_id+'/edit/" method="post">{% csrf_token %}<textarea id="comment_body" name="com_edit">' +
		  $('#'+comment_id).text() +
		  '</textarea><input type="submit" value="Save" class="btn btn-success btn-sm"></form>');
		  console.log($('#comment_body').text());
		  console.log($('#'+comment_id).text());

		$.ajax({
			  url: '/comments/' + comment_id + '/edit/',    //url который обрабатывает и сохраняет наш текст
			  type: 'POST',
			  data: {
						  'csrfmiddlewaretoken': getCookie('csrftoken'),
						  'content': $('#comment_body').text(),
						  'pk': comment_id
					 },
			  success:function (data) {
				console.log(comment_id);
			  }
	});
};

</script>
<!--<script type="text/javascript">-->
<!--     $(function() {-->
<!--      $('.companyInfo').append('<textarea value="save" class="textArea"></textarea>');-->
<!--      $('.companyInfo').append('<button class="saveme">save</button>');-->
<!--      $(document).on('click', '.saveme', function() {-->
<!--        var text = $('.textArea').val();-->
<!--        $('.newDiv').append('<p><input type="button" class="edit" value="edit">'+text+'</p>');-->
<!--      $(document).on('click', '.edit', function() {-->
<!--        var result = $(this).parent().text();-->
<!--        var $textarea = $('<textarea class="textArea2"></textarea><button class="save">save</button>');-->
<!--        $textarea.val(result)-->
<!--        $(this).parent().html($textarea);-->
<!--          $(document).on('click', '.save', function() {-->
<!--            var textInner = $('.textArea2').val();-->
<!--            $(this).parent().parent().html('<p><input type="button" class="edit" value="edit">'+textInner+'</p>');-->
<!--          })-->
<!--      })-->
<!--      })-->
<!--    })-->
<!--</script>-->
{% endblock %}
