{% extends "base.html" %}
{% block title %} Articles {% endblock %}
{% block content %}
<div class="margin-tb-30px">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">


    {% if blog %}
        {% for el in blog %}
            {% if request.POST.category_select == 'without' %}
                {% if el.category is None %}
                    {% include 'include/show_articles.html' %}
                {% endif %}
            {% elif request.POST.category_select == el.category.name and not request.POST.category_select is None %}
                {% if request.POST.category_select == el.category.name %}
                    {% include 'include/show_articles.html' %}
                {% endif %}
            {% elif request.POST.category_select == 'All categories' or request.POST.category_select is None %}
                {% include 'include/show_articles.html' %}
            {% endif %}
        {% endfor %}
    {% else %}
        <p>You have not posts</p>
    {% endif %}
				<div class="text-left">
<!--					TODO:-->
					<a href="#" class="btn box-shadow margin-bottom-50px padding-tb-10px btn-sm border-2 border-radius-30 btn-inline-block width-210px background-dark text-white">Loading More</a>
				</div>
			</div>

			<div class="col-lg-4">

				<div class="margin-bottom-30px background-main-color box-shadow border-radius-10">
					<div class="padding-30px">
						<h4 class="text-white"><i class="fas fa-search margin-right-10px"></i> <span class="opacity-6">Search</span></h4>
						<hr>
						<div class="input-group mb-3 border-radius-10 overflow-hidden">
							<input type="text" value="Search..." class="form-control border-radius-0 border-0" placeholder="" aria-label="" aria-describedby="basic-addon1">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary text-white background-dark border-0 border-radius-0" type="button">Search</button>
							</div>
						</div>

					</div>
				</div>

				<div class="widget widget_categories">
					<div class="margin-bottom-30px">
						<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i class="far fa-folder-open margin-right-10px text-main-color"></i> Categories</h4>
							<ul>
								<form action="" method="post" class="empty">
									<li><input name="category_select" type="submit" value="All categories"></li>
									{% for category in categories %}
										{% csrf_token %}
										<li><input name="category_select" type="submit" value="{{ category }}"></li>
									{% endfor %}
								</form>
							</ul>
						</div>
					</div>
				</div>


		</div>

	</div>
</div>
{% endblock %}
