{% extends 'base.html' %}

{% block content %}

{% load static %}

<h3 class="mt-3 mb-3">Profile {{ user.username }} </h3>
<img src="{{request.user.userprofile.avatar.url}}" >

<br><br><a href="{% url 'profile_settings' %}" class="btn btn-success">Settings</a><br><br>

<p>Username: {{ user.username }} <br>
Name: {{ user.first_name }} <br>
Email-profile: {{ user.email }} <br>
Avatar path: {{ user.userprofile.avatar }} <br>
Date of registration: {{ user.date_joined }} <br>
</p>

<br><a href="{% url 'premium' %}" class="btn btn-info">Buy premium account</a>

{% endblock %}