{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="margin-tb-30px">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
                <h1 class="font-weight-300">TOP users</h1>
                 <table cellspacing="0">
                     <tr>
                        <th>author</th>
                        <th>avg_star</th>
                     </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user }}</td>
                            <td>{{ user.userprofile.total_rating }}</td>
                        </tr>
                    {% endfor %}
                 </table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
