{% extends 'base.html' %}
{% block title %} Rating {% endblock %}
{% block page_breadcrumbs %} Rating {% endblock %}
{% block content %}

<div class="margin-tb-30px">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
                <h1 class="font-weight-300">TOP users</h1>
                <div class="blog-entry background-white border-1 border-grey-1 margin-bottom-15px box-shadow border-radius-10 overflow-hidden">
                    <div class="padding-lr-25px padding-tb-20px">
                         <table cellspacing="0">
                             <tr>
                                <th>author</th>
                                <th>avg_star</th>
                             </tr>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user }}</td>
                                    <td>{{ user.userprofile.total_rating }}</td>
                                </tr>
                            {% endfor %}
                         </table>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
