{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}Users{% endblock %}

{% block page_heading %}Users{% endblock %}

{% block page_breadcrumbs %}
Users
{% endblock %}

{% block content %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>User</th>
            <th>Name</th>
            <th>Email</th>
            <th>Date created</th>
            <th>Total rating</th>
            <th>Is active</th>
            <th>Staff status</th>
<!--            <th>Superuser</th>-->
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user_profile in users %}
        <tr>
            <td>{{ user_profile.user.id }}</td>
            <td>{{ user_profile.user }}</td>
            <td>{{ user_profile.user.first_name }}</td>
            <td>{{ user_profile.user.email }}</td>
            <td>{{ user_profile.date_created }}</td>
            <td>{{ user_profile.total_rating }}</td>
            <td>{{ user_profile.user.is_active }}</td>
            <td>{{ user_profile.user.is_staff }}</td>
<!--            <td>{{ user_profile.user.is_superuser }}</td>-->
          <td>
<!--              Buttons together on one line-->
            <div style="float: left;">
              <a href="{% url 'user_info' user_profile.user.id %}" type="button" class="btn btn-block btn-info btn-sm">Details</a>
            </div>
            <div style="float: left;">
              <a href="{% url 'user_edit' user_profile.user.id %}" type="button" class="btn btn-block btn-warning btn-sm">Edit</a>
            </div>
              {% load sweetify %}
              {% sweetify %}
              <div style="float: left;">
                <button type="button" class="first btn btn-block btn-danger btn-sm">Ban/Unban</button>
              </div>

          </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>id</th>
            <th>User</th>
            <th>Name</th>
            <th>Email</th>
            <th>Date created</th>
            <th>Total rating</th>
            <th>Is active</th>
            <th>Staff status</th>
<!--            <th>Superuser</th>-->
            <th>Actions</th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

{% block extra_scripts %}
<script>
document.querySelector(".first").addEventListener('click', function(){
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire(
          'Deleted!',
          'Your file has been deleted.',
          'success'
        )
      }
    })
});
</script>

<!--<script>-->
<!--    document.querySelector(".first").addEventListener('click', function(){-->
<!--  Swal.fire("Our First Alert");-->
<!--});-->
<!--</script>-->
{% endblock %}

{% endblock %}
