{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}UserInfo{% endblock %}

{% block page_heading %}UserInfo{% endblock %}

{% block page_breadcrumbs %}
<a href="{% url 'users' %}">Users</a> / UserInfo
{% endblock %}

{% block content %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="features">
        <h1>Profile <b>{{ select_user.username }}</b></h1>
        <p><b>Avatar: </b><img src="{% if select_user.userprofile.avatar %} {{ select_user.userprofile.avatar.url }} {% else %} {% static 'images/avatar.png' %} {% endif %}" width="10%" height="10%"></p>
        <p><b>Name:</b> {{ select_user.first_name }}</p>
        <p><b>Email:</b> {{ select_user.email }}</p>
        <p><b>Date of registration:</b> {{ select_user.date_joined }}</p>
        <p><b>Rating:</b> {{ select_user.userprofile.total_rating }}</p>
        <p><b>Staff status: </b> {{ select_user.is_staff }}</p>
        <p><b>Is active: </b> {{ select_user.is_active }}</p>
        <p><b>Superuser permissions: </b> {{ select_user.is_superuser}}</p>
        <a href="{% url 'user_edit' select_user.id %}" class="btn btn-info">Update</a>
    </div>
    <!-- /.card -->
  </div>
</div>

{% endblock %}
