{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}User edit{% endblock %}

{% block page_heading %}User edit{% endblock %}

{% block page_breadcrumbs %}
<a href="{% url 'users' %}">Users</a> / User edit
{% endblock %}

{% block content %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <form method="post" action="{% url 'user_edit' user_profile.user.id %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="col-sm-6">
<!--        Name field-->
        <div class="form-group">
          <label for="first_name">Name</label>
          <input name="first_name" type="text" class="form-control" id="first_name" placeholder="Enter your name" value="{{ user_profile.user.first_name }}">
        </div>
<!--        Email field-->
        <div class="form-group">
          <label for="email">Email address</label>
          <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email" value="{{ user_profile.user.email }}">
        </div>
<!--        Avatar field-->
        <div class="form-group">
          <label for="avatar">Avatar</label>
          <div class="input-group">
            <div class="custom-file">
              <input name="avatar" type="file" class="custom-file-input" id="avatar">
              <label class="custom-file-label" for="avatar">Choose file</label>
            </div>
            <div class="input-group-append">
               <span class="input-group-text">Upload</span>
            </div>
          </div>
        </div>
          {% if user_profile.user.id != user.id %}
          <div class="form-group">
              <input type="checkbox" id="is_staff" name="is_staff" value="True" {% if user_profile.user.is_staff %} checked {% endif %}>
              <label for="is_staff"> Staff status</label><br>
              <input type="checkbox" id="is_active" name="is_active" value="True" {% if user_profile.user.is_active %} checked {% endif %}>
              <label for="is_active"> Is active</label><br>
              <input type="checkbox" id="is_superuser" name="is_superuser" value="True" {% if user_profile.user.is_superuser %} checked {% endif %}>
              <label for="is_superuser"> Superuser permissions</label><br><br>
          </div>
          {% endif %}
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <!-- /.card -->
  </div>
</div>

{% endblock %}
